<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- YOUR GOOGLE VERIFICATION TAG -->
    <meta name="google-site-verification" content="rqWc7Gb5o6szBizLDieOhNUuFNyt7F9w23K_8_z5i9M" />

    <!-- YOUR DESCRIPTION -->
    <meta name="description" content="Personal website of Siiri Kivimäki.">

    <!-- Minima's normal head -->
    {%- seo -%}
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    <link rel="stylesheet" href="/assets/css/custom.css">
  </head>

  <body>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
  </body>
</html>

